html, body, header, main, form, li, input, button, div, footer, h1, p, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
  background-color: rgb(180,170,197);
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  font-family: 'Pacifico', cursive;
  text-align: center;
  width: 100%;
  padding: 5px;
}

main {
  flex: 1;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

footer {
  font-family: 'Pacifico', cursive;
  font-size: 10px;
  text-align: center;
  width: 100vw;
  padding: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer p {
  margin-left: auto;
}

footer a {
  align-self: flex-end;
  margin-left: auto;
  margin-right: 5px;
}

a {
  color: rgb(0,0,0);
}

form {
  padding: 3px;
  width: 100%;
  height: 10vh;
  display: flex;
}

form input {
  border: 0;
  padding: 10px;
  width: 86%;
  margin-right: .5%;
  height: 100%;
}

form button {
  font-size: 1.5vw;
  width: 14%;
  background: #FFF;
  border: none;
  height: 100%;
  padding: 10px;
}

.messages {
  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex: 1;
}

.messages li {
  padding: 5px 10px;
}

messages li:nth-child(odd) {
  background: #eee;
}

@media (max-width: 400px) {
  form input {
    width: 80%;
  }

  form button {
    font-size: 2vw;
    width: 20%;
  }
}
